.select-list {
    display: block;
    position: relative;
}

.select-list-items {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #F7F7F7;
    box-shadow: 0 9px 10px 0 rgba(45,45,45,0.31);
    z-index: 10;
}

    .select-list-items_show {
        display: block;
    }
