@import "../variables";
@import "../mixins";

.items-stat {
    display: inline-block;
}

    .items-stat__label {
        .item-inline-data()
    }

    .items-stat__sp {
        .item-inline-data();

        font-size: @item-font-size;
    }

    .items-stat__created {
        .item-inline-data();

        font-size: @item-font-size;
    }