@import "../variables";
@import "../mixins";

.task-list-wrap__task-page {
  padding: 0 10px;
}

.task-list {}

.task-item {
  border: 1px solid #CACACA;
  border-top: 3px solid #C5C5C5;
  padding: 3px 5px;
  border-radius: @item-border-radius;
  margin-bottom: 10px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

  .task-item_priority {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 4px 2px 2px;
    display: inline-block;

    &__minor {
      background-color: @color-minor;
    }
    &__major {
      background-color: @color-major;
    }
    &__critical {
      background-color: @color-critical;
    }
  }

  .task-item_title {
    .item-inline-data();

    font-size: @item-font-size;
    font-weight: bold;
  }
  .task-item_label {
    .item-inline-data()
  }
  .task-item_sp {
    .item-inline-data();

    font-size: @item-font-size;
  }
  .task-item_created {
    .item-inline-data();

    font-size: @item-font-size;
  }

  .task-item_description {
    font-size: @item-font-size - 1;
    color: @muted-text-color;
    max-height: 42px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

@media (max-width: 800px) {
  .task-item_description {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}