<div>
    <div class="subtask-list__title" ng-show="title">
        {{ title }}
    </div>
    <div class="subtask-item" ng-repeat="subtask in subtasks">
        <div class="subtask-item__remove"
             ng-hide="hideRemoveBtn"
             ng-click="removeSubtask(subtask)">
            <i class="fa fa-minus-circle"></i>
        </div>
        <div class="task-item__title">
            <div class="item-stat-priority item-stat-priority_major"></div>
            <span class="task-item__title-text">{{ subtask.name }}</span>
        </div>
        <div class="subtask-item__description">
            {{ subtask.description }}
        </div>
    </div>
</div>