<main-menu></main-menu>

<div class="page-wrap" ng-controller="projectsPageController as pp">

    <div class="row header-control">
        <h3 class="header-control_title">Projects</h3>
        <div class="header-control_control-elements">
            <button class="button radius info button-with-icon">
                <i class="fa fa-pencil-square-o"></i>
            </button>
        </div>
    </div>

    <div class="row project-list">
        <div class="project-item"
             ng-repeat="project in pp.projects">
            <div class="project-item_title">
                <span class="project-item_title-content">{{ project.name }}</span>
                <project-submenu></project-submenu>
            </div>
            <div class="project-item_data">
                <div class="project-item_created">{{ project.created_at }}</div>
                <div class="project-item_progressbar"><progressbar value="55"></progressbar></div>
                <div class="project-item_progress-percent">55%</div>
            </div>
            <div class="project-item_description">
                {{ project.description }}
            </div>
            <div class="subtask-list" ng-show="project.tasks.length > 0">
                <div class="subtask-item" ng-repeat="task in project.tasks track by task.id">
                    <div class="task-item_title">
                        <div class="task-item_priority task-item_priority__major"></div>
                        {{ task.name }}
                    </div>
                    <div class="task-item_label">
                        <span class="info label">ToDo</span>
                    </div>
                    <div class="task-item_sp">
                        sp: {{ task.sp }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>