<main-menu></main-menu>

<div class="page-wrap" ng-controller="projectsPageController as pp">

    <div class="row header-control">
        <h3 class="header-control__title">Projects</h3>
        <div class="header-control__control-elements">
            <button class="button radius info button-with-icon" ng-click="pp.newProject()">
                <i class="fa fa-pencil-square-o"></i>
            </button>
        </div>
    </div>

    <div class="row noitems-placeholder" ng-show="pp.projects.length == 0">
        There is no projects. <span class="noitems-placeholder__link" ng-click="pp.newProject()">Create one.</span>
    </div>

    <div class="row project-list">
        <div class="project-item"
             ng-repeat="project in pp.projects track by project.id">
            <div class="project-item__title">
                <span class="project-item__title-content">{{ project.name }}</span>
                <project-submenu  data-project="project"></project-submenu>
            </div>
            <div class="project-item__data">
                <div class="project-item__created">
                    {{ project.created_at.date }} {{ project.created_at.time }}
                </div>
                <div class="project-item__progressbar"><progressbar value="55"></progressbar></div>
                <div class="project-item__progress-percent">55%</div>
            </div>
            <div class="project-item__description">
                {{ project.description }}
            </div>
            <div class="subtask-list" ng-show="project.tasks.length > 0">
                <div class="subtask-item" ng-repeat="task in project.tasks track by task.id">

                    <div class="task-item__title">
                        <div class="item-stat-priority item-stat-priority_major"></div>
                        {{ task.name }}
                    </div>

                    <div class="item-stat">
                        <div class="item-stat__label">
                            <span class="info label">ToDo</span>
                        </div>
                        <div class="item-stat__sp">
                            sp: {{ task.sp }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>