<div class="row">
    <div ng-show="pm.action == 'open'">
        <h4>
            {{ pm.project.name }}
            <small>{{ pm.project.created_at.date }} {{ pm.project.created_at.time }}</small>
        </h4>
        <div class="project-item__data project-item__data_modal">
            <div class="project-item__progressbar"><progressbar value="55"></progressbar></div>
            <div class="project-item__progress-percent">55%</div>
        </div>
        <div class="task-item__description-full">
            {{ pm.project.description }}
        </div>
        <div class="subtask-list" ng-show="pm.subtasks.length > 0">
            <div class="subtask-item" ng-repeat="subtask in pm.subtasks track by subtask.id">
                <div class="task-item__title">
                    <div class="item-stat-priority item-stat-priority_major"></div>
                    {{ subtask.name }}
                </div>
                <div class="subtask-item__description">
                    {{ subtask.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="task-item-edit" ng-show="pm.action != 'open'">
        <div>
            <label>Project name:
                <input type="text" class="task-item-edit__title" ng-model="pm.projectEditCopy.name">
            </label>
        </div>
        <div>
            <label>Description:
                <textarea class="task-item-edit__description" ng-model="pm.projectEditCopy.description"></textarea>
            </label>
        </div>
        <div>
            <selectable-dropdown
                items="pm.availableTasks"
                selected-task="pm.selectedTask"
                label="Add task(s) to this project"
                placeholder="Write task name"></selectable-dropdown>
        </div>
    </div>

    <button
            class="button small radius"
            ng-click="pm.save()"
            ng-show="pm.action != 'open'">Save</button>
    <button
            class="button small radius info"
            ng-click="pm.edit()"
            ng-show="pm.action == 'open'">Edit</button>
    <button class="button small radius secondary" ng-click="pm.cancel()">Cancel</button>
    <a class="close-reveal-modal" ng-click="pm.cancel()">&#215;</a>
</div>