<main-menu></main-menu>

<div class="task-list-wrap task-list-wrap__task-page" ng-controller="tasksPageController as tp">

    <div class="row">
        <div class="large-12 columns">
            <h3>Tasks</h3>
        </div>
    </div>

    <div class="row task-list" data-as-sortable="tp.dragControlListeners" data-ng-model="tp.tasks">
        <div class="task-item"
             ng-repeat="task in tp.tasks track by task.id"
             ng-class="{ 'task-item__has-substasks': task.subtasks.length > 0 }"
             data-as-sortable-item>
            <div class="task-item_title" data-as-sortable-item-handle>
                <div class="task-item_priority task-item_priority__minor"></div>
                {{ task.name }}
            </div>
            <div class="task-item_label">
                <span class="info label">ToDo</span>
            </div>
            <div class="task-item_sp">
                sp: {{ task.sp }}
            </div>
            <div class="task-item_created">
                {{ task.created_at }}
            </div>

            <task-submenu data-task="task"></task-submenu>

            <div class="task-item_description">
                {{ task.description }}
            </div>
            <div class="subtask-list" ng-show="task.subtasks.length > 0">
                <div class="subtask-item" ng-repeat="subtask in task.subtasks track by subtask.id">
                    <div class="task-item_title">
                        <div class="task-item_priority task-item_priority__major"></div>
                        {{ subtask.name }}
                    </div>
                    <div class="subtask-item_description">
                        {{ subtask.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>