<main-menu></main-menu>

<div class="page-wrap" ng-controller="tasksPageController as tp">

    <div class="row header-control">
        <h3 class="header-control__title">Tasks</h3>
        <div class="header-control__control-elements">
            <button class="button radius info button-with-icon" ng-click="tp.newTask()">
                <i class="fa fa-pencil-square-o"></i>
            </button>
        </div>
    </div>

    <div class="row task-list">
        <div class="task-item"
             ng-repeat="task in tp.tasks track by task.id"
             ng-class="{ 'task-item__has-substasks': task.subtasks.length > 0 }">
            <div class="task-item__title">
                <div class="task-item__priority task-item__priority_minor"></div>
                {{ task.name }}
            </div>
            <div class="task-item__label">
                <span class="info label">ToDo</span>
            </div>
            <div class="task-item__sp">
                sp: {{ task.sp }}
            </div>
            <div class="task-item__created">
                {{ task.created_at.date }} {{ task.created_at.time }}
            </div>

            <task-submenu data-task="task"></task-submenu>

            <div class="task-item__description">
                {{ task.description }}
            </div>
            <div class="subtask-list" ng-show="task.subtasks.length > 0">
                <div class="subtask-item" ng-repeat="subtask in task.subtasks track by subtask.id">
                    <div class="task-item__title">
                        <div class="task-item__priority task-item__priority_major"></div>
                        {{ subtask.name }}
                    </div>
                    <div class="subtask-item__description">
                        {{ subtask.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>