<div class="row">
    <div ng-show="tm.action == 'open'">
        <h4>
            {{ tm.task.name }}
            <small>{{ tm.task.created_at.date }} {{ tm.task.created_at.time }}</small>
        </h4>
        <div>
            <div class="task-item_label">
                <span class="info label">ToDo</span>
            </div>
            <div class="task-item_priority-wrap">
                <div class="task-item_priority task-item_priority__critical"></div> critical
            </div>
            <div class="task-item_sp ng-binding">sp: {{ tm.task.sp }}</div>
            <div class="task-item_created ng-binding"></div>
        </div>
        <div class="task-item_description-full"
             ng-show="tm.action == 'open'">
            {{ tm.task.description }}
        </div>
    </div>

    <div class="task-item-edit" ng-show="tm.action == 'edit'">
        <div>
            <label>Task name:
                <input type="text" class="task-item-edit_title" ng-model="tm.taskEditCopy.name">
            </label>
        </div>
        <div class="row">
            <div class="large-3 medium-6 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                        <span class="prefix">SP</span>
                    </div>
                    <div class="small-9 columns">
                        <input type="number" ng-model="tm.taskEditCopy.sp" placeholder="Story Points">
                    </div>
                </div>
            </div>
            <div class="large-3 medium-6 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-6 medium-4 columns">
                        <span class="prefix">Status</span>
                    </div>
                    <div class="small-6 medium-8 columns">
                        <select>
                            <option>ToDo</option>
                            <option>In Process</option>
                            <option>Pending</option>
                            <option>Done</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-6 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-6 medium-4 columns">
                        <span class="prefix">Priority</span>
                    </div>
                    <div class="small-6 medium-8 columns">
                        <select>
                            <option>Minor</option>
                            <option>Major</option>
                            <option>Critical</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-6 small-6 columns">&nbsp;</div>
        </div>
        <div>
            <label>Description:
                <textarea class="task-item-edit_description" ng-model="tm.taskEditCopy.description"></textarea>
            </label>
        </div>
    </div>

    <button
            class="button small radius"
            ng-click="tm.save()"
            ng-show="tm.action == 'edit'">Save</button>
    <button
            class="button small radius info"
            ng-click="tm.edit()"
            ng-show="tm.action == 'open'">Edit</button>
    <button class="button small radius secondary" ng-click="tm.cancel()">Cancel</button>
    <a class="close-reveal-modal" ng-click="tm.cancel()">&#215;</a>
</div>