<div class="row">
    <div ng-show="tm.action == 'open'">
        <h4>
            {{ tm.task.name }}
            <small>{{ tm.task.created_at.date }} {{ tm.task.created_at.time }}</small>
        </h4>
        <div>

            <div class="item-stat">
                <div class="item-stat__label">
                    <span class="info label">ToDo</span>
                </div>
                <div class="item-stat-priority-wrap">
                    <div class="item-stat-priority item-stat-priority_critical"></div> critical
                </div>
                <div class="item-stat__sp">
                    sp: {{ task.sp }}
                </div>
            </div>

        </div>
        <div class="task-item__description-full">
            {{ tm.task.description }}
        </div>

        <subtask-list
                class="subtask-list"
                ng-show="tm.subtasks.length > 0"
                subtasks="tm.subtasks"
                hide-remove-button="true"
                title="Subtasks:"></subtask-list>

    </div>

    <div class="task-item-edit" ng-show="tm.action != 'open'">
        <div>
            <label>Task name:
                <input type="text" class="task-item-edit__title" ng-model="tm.taskEditCopy.name">
            </label>
        </div>
        <div class="row">
            <div class="large-4 medium-4 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-5 medium-4 columns">
                        <span class="prefix">SP</span>
                    </div>
                    <div class="small-7 medium-8 columns">
                        <input type="number" ng-model="tm.taskEditCopy.sp" placeholder="Story Points">
                    </div>
                </div>
            </div>
            <div class="large-4 medium-4 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-5 medium-4 columns">
                        <span class="prefix">Status</span>
                    </div>
                    <div class="small-7 medium-8 columns">
                        <select>
                            <option>ToDo</option>
                            <option>In Process</option>
                            <option>Pending</option>
                            <option>Done</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="large-4 medium-4 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-5 medium-4 columns">
                        <span class="prefix">Priority</span>
                    </div>
                    <div class="small-7 medium-8 columns">
                        <select>
                            <option>Minor</option>
                            <option>Major</option>
                            <option>Critical</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="large-6 medium-6 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-5 medium-4 columns">
                        <span class="prefix">Project</span>
                    </div>
                    <div class="small-7 medium-8 columns">
                        <selectable-dropdown
                                items="tm.availableProjects"
                                selected-task="tm.selectedProject"
                                placeholder="Choose project"></selectable-dropdown>
                    </div>
                </div>
            </div>
            <div class="large-6 medium-6 small-6 columns">
                <div class="row collapse prefix-radius">
                    <div class="small-5 medium-4 columns">
                        <span class="prefix">Parent</span>
                    </div>
                    <div class="small-7 medium-8 columns">
                        <input type="text" placeholder="Choose parent task">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label>Description:
                <textarea class="task-item-edit__description" ng-model="tm.taskEditCopy.description"></textarea>
            </label>
        </div>

        <subtask-list
                class="subtask-list subtask-list_task-modal"
                ng-show="tm.subtasks.length > 0"
                subtasks="tm.subtasks"
                title="Subtasks:"></subtask-list>

        <selectable-dropdown
                items="tm.availableTasks"
                selected-task="tm.selectedSubtask"
                label="Add subtask(s)"
                placeholder="Write task name"></selectable-dropdown>
    </div>

    <div class="buttons-line">
        <div class="buttons-line__left">
            <button
                    class="button small radius"
                    ng-click="tm.saveTask()"
                    ng-show="tm.action != 'open'">Save</button>
            <button
                    class="button small radius info"
                    ng-click="tm.editTask()"
                    ng-show="tm.action == 'open'">Edit</button>
            <button class="button small radius secondary" ng-click="tm.cancel()">Cancel</button>
        </div>
        <div class="buttons-line__right">
            <button
                    class="button small radius alert"
                    ng-click="tm.deleteTask()"
                    ng-show="tm.canBeDeleted == true">Delete</button>
        </div>
    </div>
    <a class="close-reveal-modal" ng-click="tm.cancel()">&#215;</a>
</div>