<main-menu></main-menu>

<div class="page-wrap" ng-controller="tasksPageController as tp">

    <div class="row header-control">
        <h3 class="header-control__title">Tasks</h3>
        <div class="header-control__control-elements">
            <button class="button radius info button-with-icon" ng-click="tp.newTask()">
                <i class="fa fa-pencil-square-o"></i>
            </button>
        </div>
    </div>

    <div class="row noitems-placeholder" ng-show="tp.tasks.length == 0">
        There is no tasks. <span class="noitems-placeholder__link" ng-click="tp.newTask()">Create one.</span>
    </div>

    <div class="row task-list">
        <div class="task-item"
             ng-repeat="task in tp.tasks track by task.id"
             ng-if="! task.parent"
             ng-class="{ 'task-item__has-substasks': task.subtasks.length > 0 }">
            <div class="task-item__title">
                <div class="item-stat-priority item-stat-priority_minor"></div>
                {{ task.name }}
            </div>

            <div class="item-stat">
                <div class="item-stat__label">
                    <span class="info label">ToDo</span>
                </div>
                <div class="item-stat__sp">
                    sp: {{ task.sp }}
                </div>
                <div class="item-stat__created">
                    {{ task.created_at.date }} {{ task.created_at.time }}
                </div>
                <div class="item-stat__project" ng-show="task.project">
                    project: {{ task.project }}
                </div>
            </div>


            <task-submenu data-task="task"></task-submenu>

            <div class="task-item__description">
                {{ task.description }}
            </div>

            <subtask-list
                    class="subtask-list"
                    ng-show="task.subtasks.length > 0"
                    subtasks="task.subtasks"
                    hide-remove-btn="true"></subtask-list>

        </div>
    </div>

</div>