.nav.navbar-nav {
    .navbar-link {
        position: relative;
        display: block;
        padding: 15px;
        line-height: 20px;
        cursor: pointer;
            text-shadow: 1px 1px white;

        &:hover, &:focus {
            color: #555;
            background-color: #e7e7e7;
        }
    }

        .navbar-link_active {
            color: #555;
            background-color: #e7e7e7;
        }
}
