.entity-modal {
    position: fixed;
    top: 65px;
    width: 70%;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.entity-modal-title {
    padding: 10px;
    margin-bottom: 10px;
}

.entity-modal-content {
    padding: 10px;
}
