{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-assign",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
