<div class="selectable-dropdown" ng-class="{'selectable-dropdown_selected': selectedTask && showSelectedIcon}">
    <label>
        <span class="selectable-dropdown__label-text">{{ label }}</span>
        <input type="text" placeholder="{{ placeholder }}" ng-model="search">
    </label>
    <ul class="selectable-dropdown__list">
        <li
            class="selectable-dropdown__list-item"
            ng-repeat="item in availableItems | filter : search"
            ng-click="selectItem( item )">

            <span class="selectable-dropdown__list-item-name">{{ item.name }}</span>
        </li>
    </ul>
</div>