@import "../../less/variables";
@import "../../less/mixins";

selectable-dropdown {
    display: block;
    z-index: 1;
}

.selectable-dropdown {
    position: relative;

    &_selected:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f058";
        display: block;
        position: absolute;
        left: -5px;
        top: -7px;
        font-size: 18px;
        color: #6BB16B;
        width: 18px;
        height: 18px;
        z-index: 10;
    }
    &_selected:after {
        content: '';
        position: absolute;
        left: -1px;
        top: -3px;
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: white;
        z-index: 9;
    }
}

    .selectable-dropdown__list {
        list-style-type: none;
        font-size: @item-font-size;
        opacity: 0;
        padding: 4px 7px;
        position: absolute;
        margin-top: -16px;
        margin-left: -10000px;
        background: white;
        box-shadow: 1px 1px 6px rgb(195, 195, 195);
        border-radius: 2px;
        -webkit-transition: opacity 0.4s;
        transition: opacity 0.4s;
        right: initial;
        left: initial;
        z-index: 1;

        &.selectable-dropdown__list_show {
            margin-left: 0;
            left: 0;
            right: 10px;
            opacity: 1;
        }
    }

    .selectable-dropdown__list-item {
        padding: 3px 5px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background: lightgray;
        }

        &-name {
            white-space: nowrap;
        }
    }