<div class="selectable-dropdown">
    <label>
        <span class="selectable-dropdown__label-text">{{ label }}</span>
        <input type="text" placeholder="{{ placeholder }}" ng-model="search">
    </label>
    <ul class="selectable-dropdown__list">
        <li
            class="selectable-dropdown__list-item"
            ng-repeat="item in tasks | filter:search"
            ng-click="selectItem( item )">

            <span class="selectable-dropdown__list-item-name">{{ item.name }}</span>
            <span class="selectable-dropdown__list-item-status">{{ item.status }}</span>
        </li>
    </ul>
</div>