.tasks-list {
    margin: 0;
    padding: 0;
}

.tasks-list-item {
    display: table;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 4px;
}

    .tasks-list-item__cell {
        display: table-cell;
        vertical-align: middle;
    }

        .tasks-list-item__cell_icon {
            width: 30px;
            cursor: pointer;
            text-align: center;
        }

        .tasks-list-item__cell_expend {
            color: gray;
        }

