<div class="select-task">
    <label>
        <span class="select-task__label-text">{{ label }}</span>
        <input type="text" placeholder="{{ placeholder }}" ng-model="search">
    </label>
    <ul class="select-task__list">
        <li
            class="select-task__list-item"
            ng-repeat="item in tasks | filter:search"
            ng-click="selectItem( item )">

            <span class="select-task__list-item-name">{{ item.name }}</span>
            <span class="select-task__list-item-status">{{ item.status }}</span>
        </li>
    </ul>
</div>